<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        button:disabled {
              cursor: not-allowed;
              pointer-events: all !important;
        }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-auto-rows: 60px;
            /*grid-template-columns: auto auto;
            grid-template-rows: auto;*/
        }
        .wrapper2 {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);
            
     
            /*grid-template-columns: auto auto;
            grid-template-rows: auto;*/
        }
        .wrapper3 {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            
     
            /*grid-template-columns: auto auto;
            grid-template-rows: auto;*/
        }
        .container{
            background-color: gray; text-align: center; word-wrap: break-word;  color: white;
            border: 1px solid;
            padding: 10px 10px 10px 10px !important;
        }
    </style>
</head>
<body>
    <div id='app'>
        <!--<div class="wrapper">
            <div class="container">Column</div>
            <div class="container">Column</div>
            <div class="container" style="grid-column: 1/4; grid-row: 1/2">Column 3</div>
            <div class="container">Column</div>
            <div class="container" style="grid-row: 2/4; grid-column: 4/5;" >Column 5</div>
            <div class="container">Column</div>
            <div class="container">Column</div>
            <div class="container">Column</div>
        </div>-->
       
        <div class="wrapper3" style=" grid-template-columns: 100%;">
            <div class="container">
                <label>Endpoint</label>
                <input @keyup.enter='adicionar' type='text' autofocus value='https://jsonplaceholder.typicode.com/photos/'  /> 
                <button @click='api.splice(0,api.length)' >Limpar</button>
            </div>
        </div>
        <br><br>
        
        <div class="wrapper3" style="margin-top: -30px;">
            <div class="container">
            <label>Altura</label>
            <input type="text" placeholder="Altura" id='altura'  @keyup.enter='imagem.altura = $event.target.value; document.getElementById("largura").focus();'  value='100'/>
            </div>
            <div class="container">
            <label>Largura</label>
            <input type="text" placeholder="Largura" id='largura'  @keyup.enter='imagem.largura = $event.target.value; document.getElementById("altura").focus();' value='100'/>
            </div>
        </div>

        <hr>
        <template v-for='(u,index) in api'>
            <div class="wrapper3" style=" grid-template-columns: 100%;">
                <div class="container">
                    <a  :href='u.url' target='_blank'>{{ u.url }}</a> <button  @click='chamarAPI(u.url,index)' :disabled='u.loading'>CHAMAR</button> <button  @click='api.splice(index,1); '>Limpar</button>
                </div>
            </div>
        <div v-if='u.data'>
            <code>
                
                <div class="wrapper2" v-if='!u.loading' v-for='data in u.data' style="margin-bottom: 50px;">
                   
                    <div class="container" :style="{'background-color': 'white', 'color': 'black',  'grid-row' : key == 'url' ? '1/3' : '', 'grid-column' : key == 'url' ? '3/4' : ''}" v-for='(value,key) in data'>
                        <b>{{ key != 'url' ? key.toUpperCase() : '' }}</b>  {{ key != 'url' ? value : '' }} <a v-if='key == "url"' :href='value' target="_blank"><img  :src='value' :width="imagem.largura+'px'" :height="imagem.altura+'px'" /></a>  
                    </div>
                    
                </div>
                
            </code>
        </div>
            <code v-if='u.loading'>Carregando...</code>
        <hr>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    
    <script>
     var app = new Vue({
         el: '#app',
        data: {
            api: [],
            imagem: {
                altura: '100',
                largura: '100'
            }
        },
        methods: {
            adicionar($event){
                this.api = [...this.api, {url: $event.target.value, data: null, loading: false}]
                $event.target.value = null
                $event.target.focus()
            },
            async chamarAPI(url,index){
                 this.api[index].loading = true
                 this.api[index].data = null
                 await axios
                  .get(url)
                  .then(response => { this.api[index].data = response.data } )
                 setTimeout( ()=>this.api[index].loading = false, 1000)
            }
        },
        mounted() {
            console.log('Init')
        }
     })
    </script>
</body>
</html>